.profile {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: 40px 0 50px;
}


@media (max-width: 568px) {
  .profile {
    flex-direction: column;
  }
}