.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: inherit;
  border: 2px solid #fff;
  padding: 0;
  border-radius: 2px;
  color:#fff;
  font-size: 32px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 568px) {
  .profile__add-button {
    width: 100%;
  }
}