.element {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}